.profile__name-edit{
    width: 24px;
    height: 24px;
    padding-top: 20px;
    border: none;
    background-color: black;
    background-image: url(../../../images/Edit_Button.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}


.profile__name-edit:hover {
    opacity: 0.6;
  
  }
  
  
@media screen and (min-width: 768px) {
  
    .profile__name-edit {
      padding-left: 2%;
    }
  }
  